@import "tailwindcss";


body {
  overflow-x: hidden;
}

/* Smooth Mobile Scrolling */
* {
  -webkit-tap-highlight-color: transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}